.item {
  min-height: 50px;
  
  &-1 {
    background-color: red;
  }
  &-2 {
    background-color: orange;
  }
  &-3 {
    background-color: green;
  }
  &-4 {
    background-color: lightseagreen;
  }
  &-5 {
    background-color: blue;
  }
  &-6 {
    background-color: blueviolet;
  }
  &-7 {
    background-color: yellow;
  }
  &-8 {
    background-color: brown;
  }
  &-9 {
    background-color: gray;
  }
  &-10 {
    background-color: royalblue;
  }
  &-11 {
    background-color: tomato;
  }
  &-12 {
    background-color: teal;
  }
  &-13 {
    background-color: yellowgreen;
  }
  &-14 {
    background-color: olive;
  }
  &-15 {
    background-color: pink;
  }
  &-16 {
    background-color: purple;
  }
}

.title {
  text-align: center;
  padding: 5px;
}
