@import '../variables-mixins.scss';

.row {
  display: flex;
  flex-wrap: wrap;
}

.gutters {
  @include media('xs') {
    &-xs {
      @include guttersWidth;
    }
  }
  @include media('sm') {
    &-sm {
      @include guttersWidth;
    }
  }
  @include media('md') {
    &-md {
      @include guttersWidth;
    }
  }
  @include media('lg') {
    &-lg {
      @include guttersWidth;
    }
  }
  @include media('xl') {
    &-xl {
      @include guttersWidth;
    }
  }
}
